node_modules/
dist/
build/
.env
backend/Bite/Bite.API/bin/
backend/Bite/Bite.API/obj/
backend/Bite/Bite.API/*.dll
backend/*.dll
backend/Bite/Bite.Entity/obj/Debug/net8.0/refint/Bite.Entity.dll
backend/Bite/Bite.Entity/obj/Debug/net8.0/ref/Bite.Entity.dll
backend/*.suo
backend/*.user
backend/*.userosscache
backend/*.sln.docstates
/backend/Bite/Bite.Entity/obj
/backend/Bite/Bite.Data/obj
/backend/Bite/Bite.Entity/bin
/backend/Bite/Bite.Data/bin
/backend/Bite/.vs
/backend/Bite/.vs
/backend/Bite/Bite.BusinessLogic/bin/Debug
/backend/Bite/Bite.BusinessLogic/obj
**/bun.lockb

backend/Bite/.vs/ProjectEvaluation/bite.metadata.v7.bin
backend/Bite/.vs/ProjectEvaluation/bite.metadata.v7.bin
backend/Bite/.vs/ProjectEvaluation/bite.projects.v7.bin
backend/Bite/.vs/ProjectEvaluation/bite.projects.v7.bin
